<section class="dish-of-the-day" data-ng-controller="dishOfTheDayController" data-ng-show="hasDish()" data-ng-cloak>
    <h4>Dagens lunch</h4>
    <h2>{{dish.Dish}}</h2>
    <p>{{dish.Preamble1}}</p>
    <p>{{dish.Preamble2}}</p>
</section>