@model Logikfabrik.Felice.ViewModels.BasePageViewModel

<section class="find-us-on-the-map" data-ng-controller="findUsOnTheMapController" data-ng-init="init(@Model.MapCoordinates.Lat, @Model.MapCoordinates.Lng)" data-ng-cloak>
    <h4>Hitta hit</h4>
</section>