@model Logikfabrik.Felice.ViewModels.BasePageViewModel

@if (Model.MapCoordinates == null)
{
    return;
}

<section class="find-us-on-the-map" data-ng-controller="findUsOnTheMapController" data-ng-init="init(@Model.MapCoordinates.Lat, @Model.MapCoordinates.Lng, '@Model.Address')" data-ng-cloak>
    <h4>Hitta hit</h4>
    <div id="map"></div>
</section>