@model IEnumerable<Logikfabrik.Felice.ViewModels.MenuDishViewModel>

<section class="a-la-carte">
    <h4>A la carte</h4>
    <ul>
        @foreach (var dish in Model)
        {
            <li>
                <h5>@dish.Name, @dish.Price.ToString("0.00") SEK</h5>
                <p>@dish.Description</p>
            </li>
        }
    </ul>
</section>